<template>
	<div class="hidden w-full show-at-print">
		<h2 class="pr-2 text-xs font-bold">Sales between the dates: {{currentCsvDates.startingDate}} - {{currentCsvDates.endingDate}}</h2>
		<div v-for="(albumSales, albumName) in data" class="p-4 mb-4 bg-bandcampWhite-200 rounded" :key="albumName">
			<h1>{{albumName}}</h1>
			<table class="w-full border-separate" style="border-style: 4px;">
				<tr class="text-xs align-bottom bg-indigo-300">
					<th class="w-48 text-left ">Item</th>
					<th class="whitespace-nowrap">Price</th>
					<th class="whitespace-nowrap">Trans. Fee</th>
					<th class="whitespace-nowrap"> Revenue Share</th>
					<th class="whitespace-nowrap">Net Amount</th>
					<th class="whitespace-nowrap">Prod. Cost</th>
					<th class="whitespace-nowrap">After % Split</th>
				</tr>
				<tr class="text-sm border-b" v-for="(sale, saleIndex) in albumSales" :key="saleIndex">
					<template v-if="sale['item type'] !== 'refund'">
						<td class="pr-4 text-left whitespace-nowrap">
							<div class="w-48 text-xs capitalize truncate">{{sale['package']}}</div>
						</td>
						<td class="text-right ">{{sale['item price']}}</td>
						<td class="text-right ">{{sale['transaction fee']}}</td>
						<td class="text-right ">{{sale['assessed revenue share']}}</td>
						<td class="text-right ">{{sale['net amount']}}</td>
						<td class="text-right ">{{ getCost(name, sale['item name'], sale['package']) }}</td>
						<td class="text-right ">{{calculateShare (sale['item type'], sale['net amount'], getCost(name, sale['item name'], sale['package'])) }}</td>
					</template>
				</tr>
			</table>
		</div>
	</div>
</template>

<script setup>
	import _ from 'lodash'
	import { ref, watch, computed, onBeforeMount, defineProps } from 'vue'
	import useLabelConfig from '/src/components/LabelConfig/useLabelConfig.js'
	import useFormattedFile from '/src/components/FileReader/useFormattedFile.js'

	const { currentCsvDates } = useFormattedFile()

	const {
		productionCosts,
		globalPercents,
		setProductionCosts,
		splitFormatting,
		setArtistSpecificConfig,
		getSpecificPercentsInStorage
	} = useLabelConfig()

	const props = defineProps({
		name: String,
		data: Object,
		calculatedData: Object,
		config: Object
	})

	const getCost = (artistName, albumName, packageName) => {
		const costObj = _.get(productionCosts.value, [artistName])
		if (!costObj) {
			return '--'
		}
		return costObj[`${albumName} || ${packageName}`]
	}

	const calculateShare = (type, net, prodCost) => {
		if (type === 'package') {
			return (
				(net - prodCost) *
				(props.config['artist']['physicalPercent'] * 0.01)
			).toFixed(2)
		} else {
			return (net * (props.config['artist']['digitalPercent'] * 0.01)).toFixed(2)
		}
	}
</script>

<style scoped lang="scss">
	@media print {
		.show-at-print {
			display: block !important;
		}
	}

	th {
		@apply px-1;
	}

	td {
		@apply px-2;
	}
</style>