<template>
	<div class="flex w-full h-full">
		<div class="relative flex-shrink-0 w-64 h-full">
			<div class="fixed top-0 left-0 z-40 flex flex-col w-64 h-full px-2 py-20 bg-white shadow-lg">
				<h1 class="mb-4 text-xl">{{csvFileName}}</h1>
				<div>
					<h1>Sales between the dates of:</h1>
					<h2 class="font-bold">{{currentCsvDates.startingDate}} - {{currentCsvDates.endingDate}}</h2>
				</div>

				<div class="mt-4">
					<button class="transition-all duration-100 bg-white rounded cursor-pointer button-style hover:text-white hover:bg-bandcampBlue-400" @click="expandAllCards = !expandAllCards">
						{{ expandAllCards ? 'Expand' : 'Collapse' }} All Details
					</button>
				</div>
			</div>
		</div>

		<div class="flex flex-wrap items-start flex-1 mx-10 justify-evenly">
			<div v-for="(releases, artistName) in groupByRelease" class="p-4" :key="artistName">
				<ReleaseTile :name="artistName" :data="releases" :expandCard="expandAllCards" />
			</div>
		</div>
	</div>
</template>

<script setup>
	import _ from 'lodash'
	import { ref, watch, onBeforeMount } from 'vue'
	import { useRouter } from 'vue-router'
	import ReleaseTile from '/src/components/Release/ReleaseTile.vue'
	import useFormattedFile from '/src/components/FileReader/useFormattedFile.js'
	import useLabelConfig from '/src/components/LabelConfig/useLabelConfig.js'
	import useFileReader from '/src/components/FileReader/useFileReader.js'

	const { groupByRelease, currentCsvDates } = useFormattedFile()
	const router = useRouter()

	const {
		productionCosts,
		globalPercents,
		setConfig,
		configHasBeenSet
	} = useLabelConfig()
	const { csvFileName } = useFileReader()
	const expandAllCards = ref(false)

	watch(
		configHasBeenSet,
		() => {
			if (!configHasBeenSet.value) {
				router.push('/configuration')
			}
		},
		{ immediate: true, deep: true }
	)
</script>

<style scoped lang="scss">
</style>