<template>
	<form @submit.prevent="submitConfig" class="flex flex-col max-w-3xl px-8 py-8 mx-auto bg-white rounded shadow-md">
		<h1 class="text-2xl capitalize">Revenue Share </h1>

		<h6 class="read-more-button hover:text-white hover:bg-bandcampBlue-400" role="button" @click="showPercentInfo = !showPercentInfo">More Info </h6>
		<div class="ml-1 read-more-container" :class="showPercentInfo ? 'h-20' : 'h-0'">
			<h2 class="text-sm">Please enter the agreed upon percentage split between the artist and the label.</h2>
			<h2 class="text-sm">The value that is being used in this calculation is the "net amount" column in your Bandcamp CSV file.</h2>
			<h2 class="text-sm">You can read more about the CSV column values here: <a class="text-bandcampBlue-400" target="_blank" href="https://get.bandcamp.help/hc/en-us/articles/360007802454-Reading-your-sales-report">Bandcamp Sales Report Documentation</a></h2>
			<span class="text-sm italic">Example: If the label receives 50% per physical item sold, please enter 50.</span>
		</div>

		<div class="flex items-center justify-center w-full my-1">
			<div v-for="(type, typeIndex) in ['label', 'artist']" :key="typeIndex" :class="{'mr-2': typeIndex === 0, 'ml-2': typeIndex === 1}" class="flex flex-col flex-1 p-2 mx-0 border border-bandcampBlue-400 rounded">
				<h1 class="mb-2 font-bold underline capitalize">{{ type }}</h1>
				<h2 class="text-sm">What percentage does the {{type}} receive per sale?</h2>
				<label class="flex p-1 rounded hover:bg-opacity-50 hover:bg-bandcampWhite-200">
					<span>Merch:</span>
					<input type="text" required placeholder="50" class="w-12 px-2 ml-auto mr-1 text-right border border-bandcampBlue-400 rounded" v-model.number="globalPercents[type]['physical']"> %
				</label>

				<label class="flex p-1 mt-1 rounded hover:bg-opacity-50 hover:bg-bandcampWhite-200">
					<span>Digital:</span>
					<input type="text" required placeholder="50" class="w-12 px-2 ml-auto mr-1 text-right border border-bandcampBlue-400 rounded" v-model.number="globalPercents[type]['digital']"> %
				</label>
			</div>
		</div>

		<div class="flex flex-col items-center justify-center w-full mt-10" v-if="productionCostGrouping.length !== 0">
			<h1 class="text-2xl">Production Cost Per Unit</h1>
			<h6 class="read-more-button hover:text-white hover:bg-bandcampBlue-400" role="button" @click="showProductionInfo = !showProductionInfo">More Info</h6>
			<div class="mb-1 ml-1 read-more-container" :class="showProductionInfo ? 'h-20' : 'h-0'">
				<h2 class="text-sm">Please enter the production cost of one (1) unit. <br> The cost of production will be subtracted from the net amount of each item of the same type. </h2>
				<h3 class="text-sm ">Currency is automatically detected based on your preferences on Bandcamp and in your CSV file.</h3>
				<span class="text-sm italic">Example: If one tape cost $5.21 to make, please enter 5.21.</span>
			</div>
			<div class="w-full ">
				<div class="w-full" v-for="(entry, index) in productionCostGrouping" :key="index">
					<div class="flex flex-col w-full px-2 py-2 mb-4 border border-bandcampBlue-400 rounded" :key="index">
						<div v-for="(values, artist) in entry" :key="artist">
							<h1 class="font-bold underline">{{artist}}</h1>
							<label v-for="(value, physicalItem) in values" :key="physicalItem" class="flex items-center p-1 mt-1 rounded hover:bg-opacity-50 hover:bg-bandcampWhite-200">
								<span class="max-w-xl truncate">{{ splitFormatting(physicalItem).itemName }} - <span class="text-sm italic">{{splitFormatting(physicalItem).physicalName}}</span></span>
								<input required type="text" placeholder="5.00" class="w-16 px-2 ml-auto mr-1 text-right border border-bandcampBlue-400 rounded" v-model.number="productionCosts[artist][physicalItem]">
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<button class="mx-auto mt-5 antialiased transition-all delay-75 transform button-style hover:bg-bandcampBlue-300 hover:border-white hover:text-white hover:scale-105" type="submit">Proceed</button>
	</form>

</template>

<script setup>
	import _ from 'lodash'
	import { ref, watch, onBeforeMount } from 'vue'
	import useFormattedFile from '/src/components/FileReader/useFormattedFile.js'
	import useLabelConfig from './useLabelConfig.js'
	import { useRouter } from 'vue-router'

	const { productionCostGrouping } = useFormattedFile()
	const router = useRouter()

	const {
		productionCosts,
		globalPercents,
		getProductionCostsInStorage,
		getGlobalPercentsInStorage,
		setConfig,
		splitFormatting
	} = useLabelConfig()

	onBeforeMount(() => {
		getGlobalPercentsInStorage()
		getProductionCostsInStorage()
	})

	watch(
		productionCostGrouping,
		() => {
			_.forEach(productionCostGrouping.value, item => {
				productionCosts.value = { ...productionCosts.value, ...item }
			})
		},
		{ immediate: true, deep: true }
	)

	const submitConfig = () => {
		// Submit the config file and save it to local storage.

		setConfig()
		router.push('/summary')
	}

	const showProductionInfo = ref(false)
	const showPercentInfo = ref(false)
</script>

<style scoped lang="scss">
	.read-more-container {
		@apply flex flex-col mr-auto overflow-hidden text-left transition-all duration-500 justify-items-start;
	}

	.read-more-button {
		@apply p-1 mr-auto text-sm text-blue-500 rounded cursor-pointer;
	}
</style>