<template>
	<div class="relative">
		<div class="support-button" @click="aboutClicked = !aboutClicked">About</div>
		<teleport to='#modal' v-if="aboutClicked">
			<div class="fixed top-0 bottom-0 left-0 right-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-40" @click="aboutClicked = false">
				<div class="relative z-50 w-full px-4 ">
					<div class="w-full max-w-2xl p-2 mx-auto bg-white rounded-md" @click.stop>
						<h1 class="px-1">About</h1>

						<Disclosure as="div" class="mt-2">
							<DisclosureButton class="flex justify-between w-full px-4 py-2 text-sm font-medium text-left text-black rounded-lg bg-bandcampWhite-200 hover:bg-bandcampBlue-300 hover:text-white focus:outline-none focus-visible:ring focus-visible:ring-bandcampBlue-400 focus-visible:ring-opacity-75">
								<span>How does the tool calculate payout?</span>
							</DisclosureButton>
							<DisclosurePanel class="px-4 pt-4 pb-2 text-sm ">
								This tool functions on the premise that the label and artist split the revenue of a sale by a certain percent.<br><br>
								The revenue of a sale is calculated based on the <strong>net total</strong> of a sale, (the amount you receive after all transaction fees), minus the <strong>production cost</strong> of the sold item.<br><br>
								The two item categories are digital and merch: digital being an an album or track download, and merch being any sort of physical item. (In your CSV file they are referred to as 'package', 'track', or 'album').<br><br>
								Example:
								<div class="flex items-center justify-center">

									<table class="border-separate table-fixed " style="border-spacing: 4px;">
										<tr>
											<th colspan="2" class="text-center">Merch Sale</th>
										</tr>
										<tr>
											<th class="px-1 bg-blue-200">Net Total</th>
											<th class="px-1 bg-blue-200">Production Cost</th>
										</tr>
										<tr class="text-center">
											<td class="bg-blue-100">10.20</td>
											<td class="bg-blue-100">4.29</td>
										</tr>
									</table>

									<table class="border-separate table-fixed " style="border-spacing: 4px;">
										<tr>
											<th colspan="2" class="text-center">Artist</th>
										</tr>
										<tr>
											<th class="px-1 bg-indigo-200">Digital Split</th>
											<th class="px-1 bg-indigo-200">Merch Split</th>
										</tr>
										<tr class="text-center">
											<td class="bg-bandcampWhite-200">80%</td>
											<td class="bg-bandcampWhite-200">40%</td>
										</tr>
									</table>

									<table class="border-separate table-fixed " style="border-spacing: 4px;">
										<tr>
											<th colspan="2" class="text-center">Label</th>
										</tr>
										<tr>
											<th class="px-1 bg-purple-200">Digital Split</th>
											<th class="px-1 bg-purple-200">Merch Split</th>
										</tr>
										<tr class="text-center">
											<td class="bg-purple-100">20%</td>
											<td class="bg-purple-100">60%</td>
										</tr>
									</table>
								</div>
								<div class="flex justify-center w-full px-5">
									<h1 class="flex-1 text-center">Revenue after production:<br> <strong>10.20 - 4.29 = 5.91</strong></h1>
									<h1 class="flex-1 text-center">Artist Revenue:<br> <strong>5.91 * 0.40 = 2.36</strong></h1>
									<h1 class="flex-1 text-center">Label Revenue:<br> <strong>5.91 * 0.60 = 3.55</strong></h1>
								</div>
								<h2 class="mt-4 text-sm italic">Read about CSV column values here: <a class="text-bandcampBlue-400" target="_blank" href="https://get.bandcamp.help/hc/en-us/articles/360007802454-Reading-your-sales-report">Bandcamp Sales Report Documentation</a></h2>
							</DisclosurePanel>
						</Disclosure>

						<Disclosure as="div" class="mt-2">
							<DisclosureButton class="flex justify-between w-full px-4 py-2 text-sm font-medium text-left text-black rounded-lg bg-bandcampWhite-200 hover:bg-bandcampBlue-300 hover:text-white focus:outline-none focus-visible:ring focus-visible:ring-bandcampBlue-400 focus-visible:ring-opacity-75">
								<span>Which CSV file do I use?</span>
							</DisclosureButton>
							<DisclosurePanel class="px-4 pt-4 pb-2 text-sm ">
								Please use the CSV found under <span class="italic font-bold">Tools</span> > <span class="italic font-bold">Sales</span>.<br>
								You must <span class="font-bold text-green-600">check</span> the <span class="font-bold">Payment Details</span> and <span class="font-bold">Item Details</span>.<br>
								Please <span class="font-bold text-red-400">uncheck</span> <span class="font-bold">Buyer Details.</span> <br>
								Then simply download and upload that file to this site!
							</DisclosurePanel>
						</Disclosure>

						<Disclosure as="div" class="mt-2">
							<DisclosureButton class="flex justify-between w-full px-4 py-2 text-sm font-medium text-left text-black rounded-lg bg-bandcampWhite-200 hover:bg-bandcampBlue-300 hover:text-white focus:outline-none focus-visible:ring focus-visible:ring-bandcampBlue-400 focus-visible:ring-opacity-75">
								<span>Where is my data being stored?</span>
							</DisclosureButton>
							<DisclosurePanel class="px-4 pt-4 pb-2 text-sm ">
								For now your data is being stored in your browser's <a class="font-bold text-bandcampBlue-400" target="_blank" href="https://en.wikipedia.org/wiki/Web_storage#Local_and_session_storage">Local Storage</a>, a simple storage location that is contained to your browser.
								This means that as long as you use the same computer to do your administrative work your configuration settings should persist. If there is interest in a login based system I will look into that in the future.<br><br>
								<strong>As a safety precaution, it is recommended that you omit Buyer Details</strong> when exporting your CSV from Bandcamp. But in case you forget, ArtistLabel filters out all sensitive information that the Bandcamp CSV contains before saving it to your Local Storage.<br>
							</DisclosurePanel>
						</Disclosure>

						<Disclosure as="div" class="mt-2">
							<DisclosureButton class="flex justify-between w-full px-4 py-2 text-sm font-medium text-left text-black bg-purple-100 rounded-lg hover:bg-purple-400 hover:text-white focus:outline-none focus-visible:ring focus-visible:ring-bandcampBlue-400 focus-visible:ring-opacity-75">
								<span>Tips</span>
							</DisclosureButton>
							<DisclosurePanel class="px-4 pt-4 pb-2 text-sm ">
								Since Bandcamp offers different export options for the CSV file there is a possibility that some sales might be included in two payouts or that some may be overlooked.
								I suggest picking a consistent time-frame to do all your administrative work to try and avoid these issues, every 15 or 30 days for example. <br> <br>
								In the event that you do have overlapping entries, (the same sale in your previously uploaded CSV file and your new CSV file), ArtistLabel automatically filters out duplicate lines on the new CSV based on the previously saved CSV. This should leave you with only sales that have not yet been paid out.
							</DisclosurePanel>
						</Disclosure>

						<Disclosure as="div" class="mt-2">
							<DisclosureButton class="flex justify-between w-full px-4 py-2 text-sm font-medium text-left text-black bg-pink-100 rounded-lg hover:bg-pink-400 hover:text-white focus:outline-none focus-visible:ring focus-visible:ring-bandcampBlue-400 focus-visible:ring-opacity-75">
								<span>Connect / Support</span>
							</DisclosureButton>
							<DisclosurePanel class="px-4 pt-4 pb-2 text-sm ">
								<span>For questions, application support, or feature suggestions, please <a class="font-bold text-bandcampBlue-400" href="https://twitter.com/artistlabel_app" target="_blank">contact me on twitter!</a></span>
							</DisclosurePanel>
						</Disclosure>

					</div>
				</div>
			</div>
		</teleport>
	</div>
</template>

<script setup>
	import { reactive, ref } from 'vue'
	import { Disclosure, DisclosureButton, DisclosurePanel } from '@headlessui/vue'

	const aboutClicked = ref(false)
</script>

<style lang="scss" scoped>
</style>