<template>
	<div class="relative hover-trigger">
		<div class="px-2 text-white bg-pink-500 rounded cursor-pointer animate-pulse ">
			<span>Support</span>
		</div>
		<div class="absolute right-0 flex-col cursor-default hover-target w-96">
			<div class="relative p-4 bg-white rounded shadow-lg " style="top:15px;">
				<h1 class="text-center text-black">Do you find ArtistLabel helpful?<br>
					<span class="text-sm">Consider supporting further development!</span>
				</h1>
				<div class="flex flex-col items-start justify-start text-sm text-bandcampBlue-400">
					<!-- <span v-for="(type, typeIndex) in ['btc', 'eth']" @click="copy(type)" class="relative flex items-center justify-center p-0 my-2" :key="typeIndex">
						<span class="text-black uppercase">{{type}}</span>:
						<span @mouseover="hover[type] = true" @mouseleave="hover[type] = false" class="block p-1 ml-1 text-xs rounded cursor-pointer w-80 hover:bg-bandcampBlue-300 hover:text-white" :class="hover[type] ? 'text-center': 'text-left'">
							{{ hover[type] ? copyConfirm : addresses[type] }}
						</span>
					</span> -->

					<span class="my-2 text-black">Kofi: <a class="p-1 ml-1 text-bandcampBlue-400 rounded hover:bg-bandcampBlue-300 hover:text-white" href="https://ko-fi.com/watersend" target="_blank">Buy me a coffee</a> </span>

				</div>
			</div>
		</div>
	</div>
</template>

<script setup>
	import { reactive, ref } from 'vue'

	const addresses = ref({
		btc: '34Xrwu2DQxxPoHYQsTExPHnVheym7FoHu3',
		eth: '0xe892Dda3ab561195A45dBC0155Ae224C2456F632'
	})

	const copyConfirm = ref('Click to copy')

	const hover = ref({ btc: false, eth: false })

	const copy = async s => {
		await navigator.clipboard.writeText(addresses.value[s])
		copyConfirm.value = 'Copied!'
		setTimeout(() => {
			copyConfirm.value = 'Click to copy'
		}, 1000)
	}
</script>

<style lang="scss" scoped>
</style>