<template>
	<div>
		<div class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center bg-opacity-50 modal" v-if="!fileUploaded">
			<div class="flex flex-col items-center justify-center max-w-3xl p-8 mx-auto bg-white rounded shadow-md file-uploader-wrapper">
				<div class="object-scale-down w-32 h-32 mb-6 overflow-hidden rounded-full">
					<img class="object-scale-down" src="/src/assets/artisLabelLogo.png" alt="artistLabelLogo">
				</div>
				<h1 class="text-center">ArtistLabel is simple payout calculator for Labels using Bandcamp's CSV to pay their artists. <br> Simply upload your most recent CSV file, enter a few details,
					and pay your artists!
				</h1>

				<div class="w-full">
					<Disclosure as="div" class="mt-2">
						<DisclosureButton class="flex justify-between w-full px-4 py-2 text-sm font-medium text-left rounded-lg bg-bandcampWhite-200 hover:bg-bandcampBlue-300 hover:text-white focus:outline-none focus-visible:ring focus-visible:ring-bandcampBlue-400 focus-visible:ring-opacity-75">
							<span>How does the tool calculate payout?</span>
						</DisclosureButton>
						<DisclosurePanel class="px-4 pt-4 text-sm text-left ">
							This tool functions on the premise that the label and artist split the revenue of a sale by a certain percent. The revenue of a sale is calculated based on the <strong>net total</strong> of a sale, (the amount you receive after all transaction fees), minus the <strong>production cost</strong> of the sold item.<br><br>
							The two item categories are digital and merch: digital being an an album or track download and merch being any sort of merch. (In your CSV file they are referred to as 'package', 'track', or 'album').<br><br>
						</DisclosurePanel>
					</Disclosure>

					<Disclosure as="div" class="mt-2">
						<DisclosureButton class="flex justify-between w-full px-4 py-2 text-sm font-medium text-left rounded-lg bg-bandcampWhite-200 hover:bg-bandcampBlue-300 hover:text-white focus:outline-none focus-visible:ring focus-visible:ring-bandcampBlue-400 focus-visible:ring-opacity-75">
							<span>Which CSV file do I use?</span>
						</DisclosureButton>
						<DisclosurePanel class="px-4 pt-4 pb-2 text-sm text-left">
							Please use the CSV found under <span class="italic font-bold">Tools</span> > <span class="italic font-bold">Sales</span>.<br>
							You must <span class="font-bold text-green-600">check</span> the <span class="font-bold">Payment Details</span> and <span class="font-bold">Item Details</span>.<br>
							Please <span class="font-bold text-red-400">uncheck</span> <span class="font-bold">Buyer Details.</span> <br>
							Then simply download and upload that file to this site!
						</DisclosurePanel>
					</Disclosure>
				</div>

				<div class="flex items-center justify-center mt-2">
					<label class="antialiased text-center transition-all delay-75 transform button-style text-reader hover:bg-bandcampBlue-300 hover:border-white hover:text-white hover:scale-105">
						Upload Your CSV
						<input type="file" @change="loadTextFromFile">
					</label>
				</div>
			</div>
		</div>

		<!-- Raw csv text should only be populated if a new file is uploaded, so the first time around. After that, the file should be pulled from storage. -->
		<template v-if="savedCsvText">
			<div class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center bg-opacity-50 modal" v-if="modalOpen">
				<div class="relative flex flex-col items-center justify-center max-w-2xl p-8 m-1 mt-10 bg-white rounded shadow-md">
					<button class="absolute top-0 left-0 flex items-center justify-center mt-2 ml-2 text-bandcampBlue-400" @click="resetCsvFile">
						<svg class="w-4 h-4 transition-all duration-150 ease-in-out transform rotate-90 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
							<path d="M56.9 78.7L95.4 33c4.9-5.8.8-14.8-6.9-14.8h-77C3.9 18.2-.3 27.1 4.6 33l38.5 45.7c3.6 4.2 10.2 4.2 13.8 0z" />
						</svg>
						<span style="font-size: 12px;">Reset</span>
					</button>
					<h1 class="mb-2 text-xl">Hello<strong>{{` ${csvFileName}` || ''}}!</strong></h1>
					<div class="flex flex-col w-full text-left">
						<h1>There is a saved CSV that contains sales between the dates of:
							<h2 class="p-2 my-2 font-bold rounded bg-bandcampWhite-200">{{ currentCsvDates.startingDate }} - {{ currentCsvDates.endingDate }}</h2>
						</h1>
						<h1>It contains releases from these artists:
							<h2 class="p-2 my-2 font-bold rounded bg-bandcampWhite-200">{{artistList}}</h2>
						</h1>
					</div>

					<div class="flex flex-col w-full mt-4 text-center">
						<h2 class="mt-2 ">If this is the correct file please proceed.<br> Otherwise, please upload a new CSV. <br> <i>(It will automatically filter out duplicate entries based on the currently saved CSV.)</i></h2>
					</div>

					<div class="flex items-center justify-center mt-4">
						<router-link class="mx-2 " to="/configuration">
							<button class="antialiased transition-all delay-75 transform button-style hover:bg-bandcampBlue-300 hover:text-white hover:scale-105" @click="modalOpen = false">Proceed</button>
						</router-link>

						<!-- <div class="flex items-center justify-center mx-2" @click="resetCsvFile"> -->
						<div class="flex items-center justify-center mx-2">
							<label class="antialiased text-center transition-all delay-75 transform button-style text-reader hover:bg-bandcampBlue-300 hover:text-white hover:scale-105">
								Upload A New CSV
								<input type="file" @change="loadTextFromFile">
							</label>
						</div>
					</div>
				</div>
			</div>
		</template>
	</div>
</template>

<script setup>
	import _ from 'lodash'
	import useFileReader from './useFileReader.js'
	import LabelConfig from '/src/components/LabelConfig/LabelConfig.vue'
	import useFormattedFile from './useFormattedFile.js'
	import { useRouter } from 'vue-router'
	import { reactive, ref, watch } from 'vue'

	import { Disclosure, DisclosureButton, DisclosurePanel } from '@headlessui/vue'

	const {
		fileUploaded,
		rawCsvText,
		savedCsvText,
		resetCsvFile,
		csvValidityCheck,
		csvFileName
	} = useFileReader()

	const { artistList, currentCsvDates } = useFormattedFile()

	const router = useRouter()

	const modalOpen = ref(true)

	const loadTextFromFile = ev => {
		const file = _.first(ev.target.files)
		if (file.name.includes('.csv')) {
			const reader = new FileReader()
			reader.onload = e => {
				if (csvValidityCheck(e.target.result)) {
					rawCsvText.value = e.target.result
					csvFileName.value = file.name
					router.push('/configuration')
				} else {
					alert(
						'Error: It seems this file is not the expected Bandcamp CSV, or it is missing the required columns (payment details & item details). Please re-download your CSV from Bandcamp, check "payment details" and "item details",  and directly upload it here.'
					)
					reader.abort()
				}
			}
			reader.readAsText(file)
		} else {
			alert(
				'Was that a CSV file? Please ensure that the file has the .csv extension at the end of it.'
			)
		}
	}
</script>

<style scoped lang="scss">
	.text-reader input {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0;
	}
</style>