<template>
	<div class="w-full h-full">
		<h1 class="text-lg text-left">{{albumName}}</h1>
		<div class="flex flex-col h-full overflow-auto border-2 rounded border-bandcampBlue-300 inner-container" style="height: 340px;">
			<div class="flex flex-col items-start">
				<template v-for="(saleGrouping, key, saleGroupIdx) in groupByItemType">
					<template v-if="['refund', 'payout'].includes(key)"></template>
					<div class="flex flex-col justify-between w-full h-full" :key="`${saleGroupIdx}`" v-else>
						<h1 class="sticky top-0 text-lg text-white capitalize shadow-sm" :class="key === 'bundle' ? 'bg-purple-400' : 'bg-bandcampBlue-300'">{{ keyMapping[key] || key }} sales</h1>
						<h2 v-if="key === 'bundle'"><strong>Please note:</strong> There isn't a clear way to figure out how the discography sales should be divided amongst your artists, all the CSV provides is a line with the net total. At this time it will be up to you to figure out how to divide the sales. If you elect to divide all discography sales evenly you can input the number of artists that the profit should be divided by.</h2>
						<div v-for="(sale, saleIndex) in saleGrouping" :key="saleIndex" class="p-1 px-2 my-2 " :class="key === 'bundle' ? 'bg-purple-100' : 'bg-bandcampWhite-200'">
							<table class="w-full">
								<tr>
									<th colspan="1" class="px-2 text-xs italic text-left capitalize ">
										{{ sale.package }}
									</th>
									<th colspan="1" class="px-2 text-xs italic text-right whitespace-nowrap ">
										{{ sale.date }}
									</th>
								</tr>
								<tr class="text-white" :class="key === 'bundle' ? 'bg-purple-200' : 'bg-bandcampBlue-200'">
									<td class="px-2 text-xs italic text-left">BC ID:{{sale.transactionId}}</td>
									<td class="px-2 text-xs italic text-right">{{sale.detectedCurrency}}</td>
								</tr>
								<tr>
									<td class="px-2 text-left text-md" colspan="1">Item Price</td>
									<td class="px-2 text-lg font-bold text-right">{{ sale.itemPrice }}</td>
								</tr>
								<tr>
									<td class="px-2 text-left text-md">Fees <span class="text-sm italic ">(Transaction) + (BC)</span></td>
									<td class="px-2 text-base text-right">
										{{sale.transactionFee ? `${sale.transactionFee}` : '0'}} + {{sale.bandcampAssessedRevenueShare}} =
										<span class="text-lg font-bold">-({{ feeSum(sale.transactionFee, sale.bandcampAssessedRevenueShare) }})</span>
									</td>
								</tr>
								<tr class="text-white" :class="key === 'bundle' ? 'bg-purple-200' : 'bg-bandcampBlue-200'">
									<td class="px-2 font-bold text-left text-md" colspan="1">Net Amount</td>
									<td v-if="key === 'bundle'" class="px-2 text-lg font-bold text-right">
										{{ sale.netAmount }} / <input type="text" placeholder="# Artists" class="w-24 px-2 ml-auto mr-1 text-right border rounded border-bandcampBlue-300" v-model="numberOfArtistsForBundle">Artists = {{bundleCalculator(sale.netAmount, numberOfArtistsForBundle)}} per artist</td>
									<td v-else class="px-2 text-lg font-bold text-right">{{ sale.netAmount }}</td>
								</tr>
							</table>
						</div>
					</div>
				</template>
			</div>
		</div>
	</div>
</template>

<script setup>
	import _ from 'lodash'
	import { ref, watch, computed, onBeforeMount, defineProps } from 'vue'

	const props = defineProps({
		data: Object,
		albumName: String
	})

	const numberOfArtistsForBundle = ref(0)

	const keyMapping = ref({ package: 'Physical' })

	const dataFormatter = computed(() => {
		return _.map(props.data, item => {
			return {
				itemType: item['item type'],
				itemPrice: item['item price'],
				bandcampAssessedRevenueShare: item['assessed revenue share'],
				bandcampCollectedRevenueShare: item['collected revenue share'],
				netAmount: item['net amount'],
				package: item['package'],
				url: item['item url'],
				catalog: item['catalog number'],
				transactionId: item['bandcamp transaction id'],
				transactionFee: item['transaction fee'],
				date: item['date'],
				detectedCurrency: item['currency']
			}
		})
	})

	const groupByItemType = computed(() => {
		return _.groupBy(dataFormatter.value, item => item.itemType)
	})

	const bundleCalculator = (saleAmount, artistCount) => {
		if (!artistCount) {
			return 0
		}
		return _.round(saleAmount / artistCount, 2)
	}

	const feeSum = (n1, n2) => Number(n1 + n2).toFixed(2)
</script>

<style scoped lang="scss">
</style>