<template>
	<div>
		<div class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center bg-opacity-50 ">
			<div class="flex flex-col items-center justify-center max-w-3xl p-8 mx-auto bg-white rounded shadow-md file-uploader-wrapper">
				<div class="object-scale-down w-32 h-32 mb-6 overflow-hidden border-4 border-indigo-100 rounded-full">
					<img class="object-scale-down" src="/src/assets/artisLabelLogo.png" alt="artistLabelLogo">
				</div>
				<h1 class="text-center">Oops. Seems there was an issue with the file you uploaded. Please reset your configuration and upload a CSV from Bandcamp.</h1>
				<button class="antialiased transition-all delay-75 transform button-style hover:bg-bandcampBlue-300 hover:border-white hover:text-white hover:scale-105" @click="resetSettings">Reset</button>
			</div>
		</div>
	</div>
</template>

<script setup>
	import _ from 'lodash'
	import useFileReader from '../FileReader/useFileReader.js'
	import { useRouter } from 'vue-router'
	import { reactive, ref, watch } from 'vue'

	const { resetCsvFile } = useFileReader()
	const router = useRouter()
	const modalOpen = ref(true)

	const resetSettings = () => {
		resetCsvFile()
		router.push('/')
	}
</script>

<style scoped lang="scss">
	.text-reader input {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0;
	}
</style>