<template>
	<div class="w-full h-full min-h-screen">
		<div class="relative h-12">
			<nav class="fixed top-0 bottom-0 left-0 right-0 z-50 flex justify-between h-12 p-3 shadow-md bg-bandcampWhite-100 navbar">
				<div class="site-nav">
					<router-link class="px-2 mx-2" to="/">Upload</router-link>
					<router-link class="px-2 mx-2" to="/configuration" v-if="savedCsvText || fileUploaded">Configuration</router-link>
					<router-link class="px-2 mx-2" to="/summary" v-if="configHasBeenSet">Summary</router-link>
				</div>

				<div class="flex mr-2 support-nav">
					<AboutButton class="px-2" />
					<DonateButton />
				</div>
			</nav>
		</div>

		<!-- <div class="h-24 max-w-2xl mx-auto my-10 " v-if="!passwordOkay">
			<h1>Were you invited to try this out? </h1>
			<label class="w-full">
				<input class="px-2" type="text" placeholder="Please enter the password" name="" id="" v-model="input">
			</label>
		</div> -->

		<main class="py-10 mx-auto">
			<router-view v-slot="{ Component }">
				<transition name="fade" mode="out-in">
					<component :is="Component"></component>
				</transition>
			</router-view>
		</main>
	</div>
</template>

<script setup>
	// Component imports
	import FileReader from './components/FileReader/FileReader.vue'
	import LabelConfig from './components/LabelConfig/LabelConfig.vue'
	import DonateButton from './components/MenuItems/DonateButton.vue'
	import AboutButton from './components/MenuItems/AboutButton.vue'
	// Use Imports
	import useFileReader from './components/FileReader/useFileReader.js'
	import useLabelConfig from './components/LabelConfig/useLabelConfig.js'

	import { reactive, computed, ref } from 'vue'

	const password = ref('waters end')
	const input = ref('')

	const passwordOkay = computed(() => {
		return password.value === input.value
	})

	const { fileUploaded, savedCsvText } = useFileReader()
	const { configHasBeenSet } = useLabelConfig()
</script>

<style lang="scss">
	#app {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #31353a;
	}

	html {
		position: fixed;
		height: 100%;
		overflow: hidden;
	}

	body {
		width: 100vw;
		height: 100vh;
		overflow-y: scroll;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}

	.button-style {
		@apply px-5 py-3 w-48 border border-bandcampBlue-400 rounded shadow-md cursor-pointer;
	}

	.input-style {
		@apply px-2 border border-bandcampBlue-300  rounded;
	}

	.support-button {
		@apply cursor-pointer px-2 mx-2;
	}

	.router-link-active,
	.support-button:hover {
		@apply text-white bg-bandcampBlue-400 py-0.5 rounded;
	}

	.a,
	.router-link-active,
	.router-link,
	.support-button {
		@apply transition-all duration-300;
	}

	.fade-enter-active,
	.fade-leave-active {
		transition: opacity 0.35s ease;
	}

	.fade-enter-from,
	.fade-leave-active {
		opacity: 0;
	}

	.hover-target {
		display: none;
	}

	.hover-trigger:hover .hover-target {
		display: flex;
	}

	@media print {
		html {
			position: unset;
			height: 100%;
			overflow: visible;
		}

		body {
			width: 100%;
			height: 100%;
			overflow-y: visible;
			overflow-x: visible;
			-webkit-overflow-scrolling: touch;
		}
	}
</style>